streamlit==1.36.0
numpy==1.26.4          # TF 2.17 requires <2.0
pandas==2.2.2
scikit-learn==1.5.1
h5py==3.11.0
protobuf==4.25.3
tensorflow-cpu==2.17.1 # lighter than 'tensorflow' and Cloud-friendly
keras==3.5.0           # matches TF 2.17
