streamlit==1.36.0
# TensorFlow/Keras that support Python 3.13:
tensorflow-cpu==2.18.0
keras==3.6.0

# NumPy/Pandas compatible with TF 2.18 on 3.13
numpy==2.1.1
pandas==2.2.2
scikit-learn==1.5.1
h5py==3.11.0
protobuf==4.25.3
